.large{
    font-size: 20px;
    font-family: "ABInBevHeadlines", sans-serif !important;
    font-weight: 500;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    
}
#large{ 
    padding-left:8px;
    padding-right: 32px;
}
 i{
    width: 16px;
}
.large .icon{
    padding-left:32px;
    font-size: 16px;
}

.standard{
    font-size: 18px;
    font-family: "ABInBevHeadlines", sans-serif !important;
    font-weight: 500;
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}
#standard{ 
    padding-left:8px;
    padding-right: 32px;
}

.standard .icon{
    padding-left:32px;
    font-size: 16px;
}

.small{
    font-size: 18px;
    font-family: "ABInBevHeadlines", sans-serif !important;
    font-weight: 500;
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}
#small{ 
    padding-left:8px;
    padding-right: 16px;
}

.small .icon{
    padding-left:16px;
    font-size: 16px;
}


.disable{
    background-color: rgb(220,220,220);
    color: rgb(173,174,182);
    border: solid 1px rgb(173,174,182);
    box-shadow: none!important;
}

