
<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
    <div>
        <button-raised [label]="'Grande'" (click)="btnClick()" [color]="'primary'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>

    <div>
        <button-raised [label]="'Padrão'" (click)="btnClick()" [color]="'primary'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Pequeno'" (click)="btnClick()" [color]="'primary'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Grande'" (click)="btnClick()" [color]="'accent'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Padrão'" (click)="btnClick()" [color]="'accent'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Pequeno'" (click)="btnClick()" [color]="'accent'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Grande'" (click)="btnClick()" [color]="'warn'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Padrão'" (click)="btnClick()" [color]="'warn'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>
    <div>
        <button-raised [label]="'Pequeno'" (click)="btnClick()" [color]="'warn'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-raised>
    </div>

</div>



<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
    <div>
        <raised-button-icon [label]="'Grande'" (click)="btnClick()" [color]="'primary'" [icon]="'checked_circle'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>
    <div>
        <raised-button-icon [label]="'Padrão'" (click)="btnClick()" [color]="'primary'" [icon]="'checked_circle'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>
    <div>
        <raised-button-icon [label]="'Pequeno'" (click)="btnClick()" [color]="'primary'" [icon]="'checked_circle'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>

    <div>
        <raised-button-icon [label]="'Grande'" (click)="btnClick()" [color]="'accent'" [icon]="'checked_circle'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>
    <div>
        <raised-button-icon [label]="'Padrão'" (click)="btnClick()" [color]="'accent'" [icon]="'checked_circle'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>
    <div>
        <raised-button-icon [label]="'Pequeno'" (click)="btnClick()" [color]="'accent'" [icon]="'checked_circle'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>

    <div>
        <raised-button-icon [label]="'Grande'" (click)="btnClick()" [color]="'warn'" [icon]="'checked_circle'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>
    <div>
        <raised-button-icon [label]="'Padrão'" (click)="btnClick()" [color]="'warn'" [icon]="'checked_circle'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>
    <div>
        <raised-button-icon [label]="'Pequeno'" (click)="btnClick()" [color]="'warn'" [icon]="'checked_circle'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </raised-button-icon>
    </div>

    

</div>





<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
   
    <div>
        <button-stroked [label]="'Grande'" (click)="btnClick()" [color]="'primary'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
    <div>
        <button-stroked [label]="'Padrão'" (click)="btnClick()" [color]="'primary'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
    <div>
        <button-stroked [label]="'Pequeno'" (click)="btnClick()" [color]="'primary'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>

    <div>
        <button-stroked [label]="'Grande'" (click)="btnClick()" [color]="'accent'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
    <div>
        <button-stroked [label]="'Padrão'" (click)="btnClick()" [color]="'accent'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
    <div>
        <button-stroked [label]="'Pequeno'" (click)="btnClick()" [color]="'accent'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>

    <div>
        <button-stroked [label]="'Grande'" (click)="btnClick()" [color]="'warn'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
    <div>
        <button-stroked [label]="'Padrão'" (click)="btnClick()" [color]="'warn'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
    <div>
        <button-stroked [label]="'Pequeno'" (click)="btnClick()" [color]="'warn'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-stroked>
    </div>
</div>


<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
    <div>
        <button-stroked-icon [label]="'Grande'" (click)="btnClick()" [color]="'primary'" [icon]="'checked_circle'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>
    <div>
        <button-stroked-icon [label]="'Padrão'" (click)="btnClick()" [color]="'primary'" [icon]="'checked_circle'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>
    <div>
        <button-stroked-icon [label]="'Pequeno'" (click)="btnClick()" [color]="'primary'" [icon]="'checked_circle'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>

    <div>
        <button-stroked-icon [label]="'Grande'" (click)="btnClick()" [color]="'accent'" [icon]="'checked_circle'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>
    <div>
        <button-stroked-icon [label]="'Padrão'" (click)="btnClick()" [color]="'accent'" [icon]="'checked_circle'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>
    <div>
        <button-stroked-icon [label]="'Pequeno'" (click)="btnClick()" [color]="'accent'" [icon]="'checked_circle'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>

    <div>
        <button-stroked-icon [label]="'Grande'" (click)="btnClick()" [color]="'warn'" [icon]="'checked_circle'" [size]="'large'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>
    <div>
        <button-stroked-icon [label]="'Padrão'" (click)="btnClick()" [color]="'warn'" [icon]="'checked_circle'" [size]="'standard'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>
    <div>
        <button-stroked-icon [label]="'Pequeno'" (click)="btnClick()" [color]="'warn'" [icon]="'checked_circle'" [size]="'small'"
            [disableBtn]="disableLargeButton">
        </button-stroked-icon>
    </div>

    
   
</div>