<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
    <div>
        <button-raised-large [label]="'Grande'" (click)="btnClick()" [color]="'primary'"
            [disableBtn]="disableLargeButton">
        </button-raised-large>
    </div>
    <div>
        <button-raised-large-icon [label]="'Grande'" [icon]="'check_circle'" [color]="'primary'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-large-icon>
    </div>
    <div>
        <button-raised-large [label]="'Grande'" (click)="btnClick()" [color]="'accent'"
            [disableBtn]="disableLargeButton">
        </button-raised-large>
    </div>
    <div>
        <button-raised-large-icon [label]="'Grande'" [icon]="'check_circle'" [color]="'accent'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-large-icon>
    </div>
    <div>
        <button-raised-large [label]="'Grande'" (click)="btnClick()" [color]="'warn'" [disableBtn]="disableLargeButton">
        </button-raised-large>
    </div>
    <div>
        <button-raised-large-icon [label]="'Grande'" [icon]="'check_circle'" [color]="'warn'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-large-icon>
    </div>
</div>

<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
    <div>
        <button-raised-standard [label]="'Padrão'" (click)="btnClick()" [color]="'primary'"
            [disableBtn]="disableLargeButton">
        </button-raised-standard>
    </div>
    <div>
        <button-raised-standard-icon [label]="'Padrão'" [icon]="'check_circle'" [color]="'primary'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-standard-icon>
    </div>
    <div>
        <button-raised-standard [label]="'Padrão'" (click)="btnClick()" [color]="'accent'"
            [disableBtn]="disableLargeButton">
        </button-raised-standard>
    </div>
    <div>
        <button-raised-standard-icon [label]="'Padrão'" [icon]="'check_circle'" [color]="'accent'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-standard-icon>
    </div>
    <div>
        <button-raised-standard [label]="'Padrão'" (click)="btnClick()" [color]="'warn'"
            [disableBtn]="disableLargeButton">
        </button-raised-standard>
    </div>
    <div>
        <button-raised-standard-icon [label]="'Padrão'" [icon]="'check_circle'" [color]="'warn'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-standard-icon>
    </div>
</div>


<div style="display: flex; margin: auto; width: 100%; margin-top: 3%;">
    <div>
        <button-raised-small [label]="'Pequeno'" (click)="btnClick()" [color]="'primary'"
            [disableBtn]="disableLargeButton">
        </button-raised-small>
    </div>
    <div>
        <button-raised-small-icon [label]="'Pequeno'" [icon]="'check_circle'" [color]="'primary'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-small-icon>
    </div>

    <div>
        <button-raised-small [label]="'Pequeno'" (click)="btnClick()" [color]="'accent'"
            [disableBtn]="disableLargeButton">
        </button-raised-small>
    </div>
    <div>
        <button-raised-small-icon [label]="'Pequeno'" [icon]="'check_circle'" [color]="'accent'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-small-icon>
    </div>

    <div>
        <button-raised-small [label]="'Pequeno'" (click)="btnClick()" [color]="'warn'"
            [disableBtn]="disableLargeButton">
        </button-raised-small>
    </div>
    <div>
        <button-raised-small-icon [label]="'Pequeno'" [icon]="'check_circle'" [color]="'warn'" (click)="btnClick()"
            [disableBtn]="disableLargeButton">
        </button-raised-small-icon>
    </div>

</div>