@import '~@angular/material/theming';



$mat-orangeC: (
  50:  #FFCCAF,100: #FFA36C,200: #FFB489,
  300: #DA8656,400: #FF8943,500: #FF6B13,
  600: #B9612F,700: #D65B12,800: #AD4304,
  900: #A33D00,A100:purple,A200: purple,
  A400:purple, A700:purple,
  contrast: (
  50: $dark-primary-text,100: $dark-primary-text,200: $dark-primary-text,
  300: $dark-primary-text,400: $dark-primary-text,500: $light-primary-text,
  600: $light-primary-text,700: $light-primary-text, 800: $light-primary-text,
  900: $light-primary-text,A100: $dark-primary-text,A200: $light-primary-text,
  A400: $light-primary-text,A700: $light-primary-text,)
);


$mat-greenC: (
  50:  #CCF9F7,100: #94E9E6,200: #74c7c5,
  300: #66D5D1,400: #41BCB7,500: #1bb6b2,
  600: #1BB6B0,700: #006c69,800: #005f5c,
  900: #004E4B,A100:white,A200: yellow,
  A400:black, A700:purple,
  contrast: (
  50: $dark-primary-text,100: $dark-primary-text,200: $dark-primary-text,
  300: $dark-primary-text,400: $dark-primary-text,500: $light-primary-text,
  600: $light-primary-text,700: $light-primary-text, 800: $light-primary-text,
  900: $light-primary-text,A100: $dark-primary-text,A200: $light-primary-text,
  A400: $light-primary-text,A700: $light-primary-text,)
);


  $mat-redC: (
  50:  #FFB2B2,100: #FF8E8E,200: #FF8787,
  300: #FF6363,400: rgb(252, 70, 70),500: #FF4040,
  600: #B80505,700: #C11A1A,800: #B80505,
  900: #960000,A100:white,A200: yellow,
  A400:black, A700:purple,
  contrast: (
  50: $dark-primary-text,100: $dark-primary-text,200: $dark-primary-text,
  300: $dark-primary-text,400: $dark-primary-text,500: $light-primary-text,
  600: $light-primary-text,700: $light-primary-text, 800: $light-primary-text,
  900: $light-primary-text,A100: $dark-primary-text,A200: $light-primary-text,
  A400: $light-primary-text,A700: $light-primary-text,)
);


@include mat-core();

$UxIO-primary: mat-palette($mat-orangeC);
$UxIO-accent: mat-palette($mat-greenC);
$UxIO-warn: mat-palette($mat-redC);
$UxIO-theme: mat-light-theme($UxIO-primary, $UxIO-accent, $UxIO-warn);

@include angular-material-theme($UxIO-theme);